[workspace]
members = ["field", "insertion", "plonky2", "starky", "state_trie", "system_zero", "util", "waksman", "ecdsa", "u32", "evm"]

[profile.release]
opt-level = 3
#lto = "fat"
#codegen-units = 1

[profile.bench]
opt-level = 3
